{% extends "base.html" %}
{% block css %}
.main-panel {
  background: white;
}
.button {
  padding: 5px;
}
.custom-range::-webkit-slider-thumb {
  background: gray;
}

.custom-range::-moz-range-thumb {
  background: gray;
}

.custom-range::-ms-thumb {
  background: gray;
}

#target,.reference,#slide-bar {
  visibility: hidden;
}
.image-panel{
  height: 250px;
  max-height: 250px;
}

img.gray {
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter: grayscale(100%);
}

{% endblock %}

{% block body %}
<a href="/logout">ログアウトする</a>

<section>
<h2 class="m-4"> Nextボタンを押すとパソコンの画面にある画像と2つの色が順に一瞬現れます。深く考えず、パッと見た瞬間の印象のみを手がかりに、ご⾃⾝が感じた印象に近い⾊の⽅向に、スライドバーを調整してください。数秒経過後、自動的にページが切り替わります。 </h2>
<div class="container-fruid">
    <div class="main-panel row text-center align-items-center m-2">
      <div class="image-panel col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <img class="reference image-panel" src="{{references[0]}}" width="100%" height="100%"/>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div id="target">
          <img src="{{target}}" class="gray image-panel" height="100%"/>
        </div>
        <div id="slide-bar">
            <form id="form_sample" action="/add" method="post">
              <input type="hidden" name="annotator_id" value="{{annotator_id}}">
              <input type="hidden" name="reference1" value="{{references[0]}}">
              <input type="hidden" name="reference2" value="{{references[1]}}">
              <input type="hidden" name="target" value="{{target}}">
              <input type="hidden" name="hypara_set_name" value="{{hypara_set_id}}">
              <input type="hidden" id="timestamp" name="timestamp" value=""> <!-- set in submitting function -->
              <input type="hidden" id="num_touches" name="num_touches" value="0"> <!-- set in submitting function -->
              <input type="hidden" name="progress" id="progress" value="{{progress}}">
                <input type="range"  class="custom-range w-50" value="0" min="-50" max="50" step="1" name="test5"
                oninput="document.getElementById('test5').value=this.value" onclick="increment_touch()">
                <p> Value: <output name="test5_output" id="test5">0</output> </p>
           </form>
            <datalist id="tlist">
    　　　　　　<option value="-50"></option>
    　　　　　　<option value="-25"></option>
    　　　　　　<option value="0"></option>
    　　　　　　<option value="25"></option>
    　　　　　　<option value="50"></option>
    　　　　</datalist>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <img class="reference image-panel" src="{{references[1]}}" width="100%" height="100%"/>
      </div>
    </div>
    <div class="row text-center m-2">
      <div class="button col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <button id="next" type="button" class="btn btn-primary w-25 bg-secondary">Next</button>
      </div>
    </div>
</div>
<footer class="footer">
  <div class="container">
    <div class="footer-panel row text-center align-items-center m-2">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        Progress:
      </div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <div class="progress" style="height: 40px;">
          <div class="progress-bar bg-secondary" role="progressbar" style="width: {{progress}}%;" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">{{progress}}%</div>
        </div>
      </div>
    </div>
    <div class="footer-image row text-right align-items-center m-2">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <img id="image_place" src="/templates/progressimg/a_01.png" width="50%">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <img id="image_place2" src="/templates/progressimg/b_01.png" width="50%">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <img id="image_place3" src="/templates/progressimg/c_01.png" width="50%">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <img id="image_place4" src="/templates/progressimg/d_01.png" width="50%">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <img id="image_place5" src="/templates/progressimg/e_01.png" width="50%">
      </div>
  </div>
</footer>

  <script type="text/javascript">
    //img要素を取得する
    let img = document.getElementById("image_place");
    let img2 = document.getElementById("image_place2");
    let img3 = document.getElementById("image_place3");
    let img4 = document.getElementById("image_place4");
    let img5 = document.getElementById("image_place5");
    var form = document.getElementById("progress").value;
    form = parseInt(form, 10);
    // 表示する画像番号
    if (form >= 0 && form < 5) {
      // 回答回数が100回未満の時
      idx = "a_01";
    }else if (form >= 5 && form < 10) {
      //回答回数が100回以上、200回未満の時
      idx = "a_02";
    }else if (form >= 10 && form < 15) {
      //回答回数が200回以上、300回未満の時
      idx = "a_03";
    }else if (form >= 15 && form < 20) {
      //回答回数が300回以上、400回未満の時
      idx = "a_04";
    }else if  (form >= 20) {
      //回答回数が500回以上の時(ノルマクリア時)
      idx = "a_05";
    }
    // 表示する画像番号
    if (form >= 20 && form < 25) {
      // 回答回数が100回未満の時
      idx2 = "b_01";
    }else if (form >= 25 && form < 30) {
      //回答回数が100回以上、200回未満の時
      idx2 = "b_02";
    }else if (form >= 30 && form < 35) {
      //回答回数が200回以上、300回未満の時
      idx2 = "b_03";
    }else if (form >= 35 && form < 40) {
      //回答回数が300回以上、400回未満の時
      idx2 = "b_04";
    }else if (form >= 40) {
      //回答回数が500回以上の時(ノルマクリア時)
      idx2 = "b_05";
    }
    if (form >= 40 && form < 45) {
      // 回答回数が100回未満の時
      idx3 = "c_01";
    }else if (form >= 45 && form < 50) {
      //回答回数が100回以上、200回未満の時
      idx3 = "c_02";
    }else if (form >= 50 && form < 55) {
      //回答回数が200回以上、300回未満の時
      idx3 = "c_03";
    }else if (form >= 55 && form < 60) {
      //回答回数が300回以上、400回未満の時
      idx3 = "c_04";
    }else if (form >= 60) {
      //回答回数が500回以上の時(ノルマクリア時)
      idx3 = "c_05";
    }
    if (form >= 60 && form < 65) {
      // 回答回数が100回未満の時
      idx4 = "d_01";
    }else if (form >= 65 && form < 70) {
      //回答回数が100回以上、200回未満の時
      idx4 = "d_02";
    }else if (form >= 70 && form < 75) {
      //回答回数が200回以上、300回未満の時
      idx4 = "d_03";
    }else if (form >= 75 && form < 80) {
      //回答回数が300回以上、400回未満の時
      idx4 = "d_04";
    }else if (form >= 80) {
      //回答回数が500回以上の時(ノルマクリア時)
      idx4 = "d_05";
    }
    if (form >= 80 && form < 85) {
      // 回答回数が100回未満の時
      idx5 = "e_01";
    }else if (form >= 85 && form < 90) {
      //回答回数が100回以上、200回未満の時
      idx5 = "e_02";
    }else if (form >= 90 && form < 95) {
      //回答回数が200回以上、300回未満の時
      idx5 = "e_03";
    }else if (form >= 95 && form < 100) {
      //回答回数が300回以上、400回未満の時
      idx5 = "e_04";
    }else if (form >= 100) {
      //回答回数が500回以上の時(ノルマクリア時)
      idx5 = "e_05";
    }
    // img要素のsrcに画像ファイル名を設定する
    img.src = "/templates/progressimg/" + idx + ".png";
    img2.src = "/templates/progressimg/" + idx2 + ".png";
    img3.src = "/templates/progressimg/" + idx3 + ".png";
    img4.src = "/templates/progressimg/" + idx4 + ".png";
    img5.src = "/templates/progressimg/" + idx5 + ".png";
    //img.src.style.textAlign = "center";
  </script>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
  </div>
</div>
</section>


<!-- <form action="/add" method="post">
    <input type="number" name="ref1" placeholder="ref1">
    <input type="number" name="ref2" placeholder="ref2">
    <input type="submit" value="Add">
</form> -->


<!-- <form action="/submit" method="POST">
<input type="submit" value="Submit">
</form> -->
{% endblock %}

{% block js %}
// global変数
var num_touches = 0
var date = new Date() ;

// slide_bar操作時の動作
function increment_touch(){
  num_touches=num_touches+1;

}

// jQueryでSleepする関数を作成
$.wait = function(msec) {
    // Deferredのインスタンスを作成
    var d = new $.Deferred;

    setTimeout(function(){
        // 指定時間経過後にresolveしてdeferredを解決する
        d.resolve(msec);
    }, msec);

    return d.promise();
};
var fade_dulation=0;
function my_fadeout(selector){
  $(selector).fadeOut(fade_dulation,function() {
        $(this).css({"display": "block","visibility": "hidden"})
  });
}
function my_fadein(selector){
  $(selector).fadeIn(fade_dulation,function(){
      $(this).css({"display": "block","visibility": "visible"});
    }
  );
}



function show_target(dulation){
  // ターゲットを表示
  my_fadeout('#next');
  my_fadeout('.reference');
  my_fadein('#target');
  return $.wait(dulation);
}
function show_reference(dulation){
  // 色を表示
  my_fadein('.reference');
  my_fadeout('#target');
  return $.wait(dulation);
}
function show_references_and_range_slider(dulation){
  // 指標とスライドバーを表示
  $('#target').on('load', function() {
    my_fadeout('#target');
  });
  my_fadeout('.reference')
  $.wait(fade_dulation).done(
    my_fadein('#slide-bar')
  );
  return $.wait(dulation);
}
$('#next').on('click', function(){
  $.wait(300).then(function(){
    // ターゲットを表示
    show_target();
    return $.wait({{hyperparameters['target_dulation']}});
  }).then(function(){
    // 色を表示
    show_reference();
    return $.wait({{hyperparameters['reference_dulation']}});
  }).then(function(){
    // スライダーを表示
    show_references_and_range_slider();
    return $.wait({{hyperparameters['slider_dulation']}});
  }).done(function(){
    // timestampを準備してsubmit，次のtaskへ遷移．
    console.log(date.getTime());
    $("#timestamp").val(date.getTime());
    $("#num_touches").val(num_touches);
    $("#form_sample").submit();
  });
});
{% endblock %}
