{% extends "base.html" %}
{% block css %}
.main-panel {
  background: white;
}
.button {
  padding: 5px;
}
.custom-range::-webkit-slider-thumb {
  background: gray;
}

.custom-range::-moz-range-thumb {
  background: gray;
}

.custom-range::-ms-thumb {
  background: gray;
}

#target,.reference,#slide-bar {
  display: none;
}
.main-panel{
  height: 250px;
}

img.gray {
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter: grayscale(100%);
}

{% endblock %}

{% block body %}

<a href="/logout">ログアウトする</a>

<section>
<h2> ２つの指標と印象の近さを合わせてスライドバーを調整してください </h2>
<div class="container-fruid">
    <div class="main-panel row text-center align-items-center m-2">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <img class="reference" src="{{references[0]}}" width="100%" height="100%"/>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div id="target">
          <img src="{{target}}" class="gray" width="50%" height="50%"/>
        </div>
        <div id="slide-bar">
          <form>
              </form>
            <form action="/add" method="post">
            <input type="hidden" name="annotator_id" value="{{annotator_id}}">
            <input type="hidden" name="reference1" value="{{references[0]}}">
            <input type="hidden" name="reference2" value="{{references[1]}}">
            <input type="hidden" name="target" value="{{target}}">
            <input type="hidden" name="hypara_set_name" value="{{hypara_set_id}}">
            <input type="hidden" name="timestamp" value=""> <!-- set in submitting function -->


              <input type="range"  class="custom-range w-100" value="1" min="-50" max="50" step="1" name="test5"
              oninput="document.getElementById('test5').value=this.value">
            <!-- <input type="range" class="custom-range w-100" min="-50" max="50" value="0" name="gauge" id="gauge" list="tlist"
            oninput="document.getElementById('gauge').value=this.value"> -->
           <output id="test5">0</output>
           <button name="test5" value="Add">評価確定</button>
           </form>
            <datalist id="tlist">
    　　　　　　<option value="-50"></option>
    　　　　　　<option value="-25"></option>
    　　　　　　<option value="0"></option>
    　　　　　　<option value="25"></option>
    　　　　　　<option value="50"></option>
    　　　　</datalist>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <img class="reference" src="{{references[1]}}" width="100%" height="100%"/>
      </div>
    </div>
    <div class="row text-center m-2">
      <div class="button col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <button id="next" type="button" class="btn btn-primary w-25">Next</button>
      </div>
    </div>
</section>


<!-- <form action="/add" method="post">
    <input type="number" name="ref1" placeholder="ref1">
    <input type="number" name="ref2" placeholder="ref2">
    <input type="submit" value="Add">
</form> -->


<!-- <form action="/submit" method="POST">
<input type="submit" value="Submit">
</form> -->
{% endblock %}

{% block js %}
// jQueryでSleepする関数を作成
$.wait = function(msec) {
    // Deferredのインスタンスを作成
    var d = new $.Deferred;

    setTimeout(function(){
        // 指定時間経過後にresolveしてdeferredを解決する
        d.resolve(msec);
    }, msec);

    return d.promise();
};
var fade_dulation=300;
function show_target(dulation){
  // ターゲットを表示
  $('#next').fadeOut(fade_dulation);
  $('.reference').fadeOut(fade_dulation);
  $('#target').fadeIn(fade_dulation);
  return $.wait(dulation);
}
function show_references_and_range_slider(dulation){
  // 指標とスライドバーを表示
  $('#target').fadeOut(fade_dulation);
  $('.reference').fadeIn(fade_dulation);
  $.wait(fade_dulation).done(function(){
    $('#slide-bar').fadeIn(fade_dulation);
  });
  return $.wait(dulation);
}
$('#next').on('click', function(){
  $.wait(300).then(function(){
    // ターゲットを表示
    show_target();
    return $.wait({{hyperparameters['target_dulation']}});
  }).then(function(){
    // スライダーを表示
    show_references_and_range_slider();
    return $.wait({{hyperparameters['target_dulation']}});
  }).done(function(){
    // timestampを準備してsubmit，次のtaskへ遷移．
  });
});
{% endblock %}
