<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>はじめに</h1>
    <ol>
    <li>研究内容</li>
        人が画像から受ける印象の分析や、印象に応じた画像を生成する研究です。
    <li>研究責任者</li>
        慶應義塾大学大学院理工学研究科 橋本敦史
    <li>実験目的</li>
        人が画像から受ける印象のデータセット作成のための実験です。
    <li>実験時間</li>
        説明約5分+実験約50分+休憩5分の約1時間です。
    <li>実験環境</li>
        なるべく通信環境の整っている場所で、自分のパソコンで行ってください。
    <li>実験期間</li>
        別途連絡した期日までに行ってください。
    <li>実験対象者</li>
        本実験は、人が画像から受ける印象を色で表すものとなっております。大変申し訳ありませんが、色覚異常のある方は本実験に参加することができません。ご了承ください。
    <li>実験内容</li>
        パソコンの画面に画像と2つの色が順に一瞬現れます。深く考えず、パッと見た瞬間の印象のみを手がかりに、ご⾃⾝が感じた印象に近い⾊の⽅向に、スライドバーを調整していただきます。
    <li>協力に対する謝礼について</li>
        謝礼金は1000円です。
    <li>個人情報の取り扱い</li>
        実験によって得られたデータについては、統計的に処理した結果のみを学会等で発表し、個別的なデータを個人が特定可能な形で公開することはありません。また、個人情報を含むすべてのデータは外部に漏洩することのないように匿名化して厳重に管理します。
    <li>行動規範</li>
        スクリーンショットやスクリーンキャプチャにより画像をダウンロードすることやデータの収集、および、悪用などをしてはいけません。
    </ol>        

    本研究の問い合わせ先<br>
    研究責任者：慶應義塾大学大学院理工学研究科橋本敦史<br>
    e-mail：tezuka2021-theme5-group@keio.jp<br><br>
    
    <h2>実験手順</h2>
    <ol>
    <li>あらかじめメールにてお送りした user name と password でログインしてください。</li>
    <li>Nextボタンを押してください。</li>
        <img src="/templates/instruction/1_next.jpg" width="50%" height="50%">
    <li>Nextボタンを押すと、最初に画像が一瞬現れます。</li>
        <img src="/templates/instruction/2_target.jpg" width="50%" height="50%">
    <li>次に、二つの色が一瞬現れます。</li>
        <img src="/templates/instruction/3_colors.jpg" width="50%" height="50%">
    <li>そして、スライドバーが表示されます。深く考えずパッと見た瞬間の印象のみを手がかりに、ご⾃⾝が感じた印象に近い⾊の⽅向に、スライドバーを調整してください。<br>
        必ずスライドバーを動かし値(Value)が０にならないようにして下さい。
        数秒経過後、自動的にページが切り替わります。</li>
        <img src="/templates/instruction/4_slide.jpg" width="50%" height="50%">        
    <li>以上の作業を繰り返し行ってください。（画像を⾒逃した、もしくは画像が正しく写らなかった場合、スライドバーを押さずに次の画⾯を待ってください。）</li>
    </ol>        
<!--     <video src="/templates/video.mp4" controls muted playinline width="600" height="300"></video>
    <br><br>
         -->
    <br>それでは、あらかじめメールにてお送りした user name と password でログインし、実験を開始してください。<br>
    {% if status == "user_notfound" %}
    <p>ユーザが見つかりません。新規登録しましょう。</p>
    {% elif status == "wrong_password" %}
    <p>パスワードが間違っています。</p>
    {% elif status == "logout" %}
    <p>ログアウトが完了しました。</p>
    {% endif %}
    <form action="/login" method="post">
        <input type="text" name="user_name" placeholder="user name">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="Login">
    </form>
    
    <div style="text-align: right;"><a href="/newcomer"><font color="white">新規登録はこちら</font></a>
</body>
</html>
