<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>はじめに</h1>
    <p>こんにちは。私たちは慶應義塾大学大学院の学生です。実験のご協力ありがとうございます。<br>
    ①研究の目的と概要：本研究の目的は人が画像から受ける印象のデータセットを作ります。<br>
    ②実験に際して入手した個人情報の取り扱い：実験によって得られたデータについては、統計的に処理した結果のみを学会等で発表し、個別的なデータを個人が特定可能な形で公開することはありません。また、個人情報を含むすべてのデータは外部に漏洩することのないように匿名化して厳重に管理します。<br>
    ③実験目的：人が画像から受ける印象の分析や、印象に応じた画像を生成する研究で使用します。<br>
    ④データセット公開：なお、データセットを公開する予定はありません。<br><br>
    
    <br>
        <video src="/templates/video.mp4" controls muted playinline width="600" height="300"></video>
    <br><br>
        
    ユーザー登録をお済みでない方は、新規登録をしてください。<br>
    ログイン後は説明にしたがって実験を行ってください。<br>
    {% if status == "user_notfound" %}
    <p>ユーザが見つかりません。新規登録しましょう。</p>
    {% elif status == "wrong_password" %}
    <p>パスワードが間違っています。</p>
    {% elif status == "logout" %}
    <p>ログアウトが完了しました。</p>
    {% endif %}
    <form action="/login" method="post">
        <input type="text" name="user_name" placeholder="user name">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="Login">
    </form>
    
    <a href="/newcomer">新規登録はこちら</a>
</body>
</html>
