<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>はじめに</h1>
    <p>1. 研究内容<br>
    人が画像から受ける印象の分析や、印象に応じた画像を生成する研究です。<br>
    2. 研究責任者<br>
    慶應義塾大学大学院理工学研究科 橋本敦史<br>
    3. 実験目的<br>
    人が画像から受ける印象のデータセット作成のための実験です。<br>
    4. 実験時間<br>
    説明約5分+実験約50分+休憩5分の約1時間です。<br>
    5. 実験環境<br>
    なるべく通信環境の整っている場所で、自分のパソコンで行ってください。<br>
    6. 実験期間<br>
    別途連絡した期日までに行ってください。<br>
    7. 実験対象者<br>
    本実験は、人が画像から受ける印象を色で表すものとなっております。大変申し訳ありませんが、色覚異常のある方は本実験に参加することができません。ご了承ください。<br>
    8. 実験内容<br>
    パソコンの画面に画像と2つの色が順に一瞬現れます。深く考えず、パッと見た瞬間の印象のみを手がかりに、どちらかの色の印象に近くなるように、スライドバーを調整していただきます。この作業を1000回程度行っていただきます。<br>
    9. 協力に対する謝礼について<br>
    謝礼金は1000円です。<br>
    10. 個人情報の取り扱い<br>
    実験によって得られたデータについては、統計的に処理した結果のみを学会等で発表し、個別的なデータを個人が特定可能な形で公開することはありません。また、個人情報を含むすべてのデータは外部に漏洩することのないように匿名化して厳重に管理します。<br>
    11. 行動規範<br>
    スクリーンショットやスクリーンキャプチャにより画像をダウンロードすることやデータの収集、および、悪用などをしてはいけません。<br><br>
    本研究の問い合わせ先<br>
    研究責任者：慶應義塾大学大学院理工学研究科橋本敦史<br>
    e-mail：tezuka2021-theme5-group@keio.jp<br><br>
    
    以下の動画に実験の流れを示します。
    <br>
        <video src="/templates/video.mp4" controls muted playinline width="600" height="300"></video>
    <br><br>
        
    それでは、実験を開始してください。<br>
    あらかじめメールにて送った user name と password でログインしてください。<br>
    {% if status == "user_notfound" %}
    <p>ユーザが見つかりません。新規登録しましょう。</p>
    {% elif status == "wrong_password" %}
    <p>パスワードが間違っています。</p>
    {% elif status == "logout" %}
    <p>ログアウトが完了しました。</p>
    {% endif %}
    <form action="/login" method="post">
        <input type="text" name="user_name" placeholder="user name">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="Login">
    </form>
    <a href="/newcomer"><h1><font color="white">新規登録はこちら</font></h1></a>
    <!-- <a href="/newcomer">新規登録はこちら</a> -->
</body>
</html>
